.home {
  background: #4504dd;
  padding: 20px;
  border-radius: 70px;
  width: 90%;
  margin: auto;
}

.adminDashboardbooking_selection-title {
  text-align: center;
  margin: 25px;
  font-size: 35px;
  text-decoration: underline;
}

.admin_booking-list {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: auto;
  display: grid;
  gap: 15px;
}

.admin_booking-item {
  background: white;
  color: black;
  border-radius: 15px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr auto; //datum vänster, service höger
  align-items: center;
  font-weight: 700;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}

@media (max-width: 560px) {
  .admin_booking-item {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 6px;
  }
}
