.home {
  background: #4504dd;
  padding: 20px;
  border-radius: 70px;
  width: 90%;
  margin: auto;
}

.adminAddProfilePage_selection-title {
  text-align: center;
  margin: 25px;
  font-size: 35px;
  text-decoration: underline;
}

p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}
