.home {
    background: #4504dd; 
    padding:20px;
    border-radius: 70px;
    width: 90%;
    margin: auto;
}

.history_selection-title {
    text-align: center;
    margin: 25px;
    font-size: 35px;
    text-decoration: underline;
}

.history-search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    
    input {
        width: 320px;
        border: none;
        border: 2px solid rgba(119, 119, 119, 0.172);
        background: white;
        border-radius: 10px;
        font-size: 18px;
        text-align: center;
        padding: 8px;
        outline: none;
    }
    
    input:focus {
        border-color: #6547ff;
    }
}

.history-list {
    list-style: none;
    align-items: center; 
    padding: 1rem;
    margin: 1rem auto;
    width: min(750px);
    display: grid;
    gap: 1.5rem;
}

.history-item {
    background: white;
    color: black;
    border-radius: 15px;
    padding:  15px;
    display: grid;
    grid-template-columns: 1fr auto; //datum vänster, service höger
    align-items: center;
    font-weight: 700;
    box-shadow: 0 6px 16px rgba(0,0,0,.12);
}

.history-empty {
    justify-items: center;
    margin-bottom: 2rem;

    p {
        font-size: 20px;
        font-weight: bold;
    }
}

@media (max-width: 560px) {
    .history-item {
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 6px;
    }

    .history-list {
        list-style: none;
        align-items: center; 
        padding: 1rem;
        margin: 1rem auto;
        width: max(300px);
        display: grid;
        gap: 1.5rem;
    }
}
