.btn {
  margin: 1rem auto 0;
  width: 60%;
  height: 44px;
  border: none;
  border-radius: 9999px; 
  background-color: #000;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: #5a3df2;
    color: #fff; 
    
    
  }

}
