.login-form-container {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.login-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  text-align: left;

  label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    font-weight: 600;
  }

  input {
    width: 90%;
    padding: 0.5rem 0.75rem;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1rem;
  }
}
