.home {
  background: #4504dd; 
  padding:20px;
  border-radius: 70px;
  width: 90%;
  margin: auto; 
}

.booking_selection-title{
  text-align: center;
  margin: 25px;
  font-size: 35px;
  text-decoration: underline;
}

.booking-list {
  max-width: 520px;
  margin: 0 auto;
}

.booking-card {
  background: white;
  border-radius: 14px;
  padding: 20px;
  display: grid;
  gap: 15px;
  justify-items: center;
  margin-bottom: 2rem;
}

.booking-row {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.booking-cancel {
  background-color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  
    &:hover {
    background-color: #5a3df2;
  }
}

.booking-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  justify-items: center;
  margin-bottom: 2rem;

  p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
  }
}


.booking-date, .booking-service {
  color: black;
  font-size: 20px;
  margin: 0 40px 0 40px; 
}

.toast {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}