.register-form-container {
  max-width: 350px;
  margin: 0 auto;
  padding: 1rem;
  background: white;
  border-radius: 15px;
  text-align: center;
}

.register-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  text-align: left;

  label {
    color: black;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
  }

  input {
    width: 90%;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid rgba(119, 119, 119, 0.172);
    font-size: 1rem;
    outline: none;
  }

  input:focus {
    border-color: #6547ff;
  }
}

.toast-message {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

@media (max-width: 400px) {
  .register-form-container {
    width: 80%;
  }
}
